.card {
    width: 16rem;
    margin: 0.5rem;
    background-color: rgba(128, 128, 128, 0.24);
    text-align: center;
}

.card-img-top {
    /*height: 15rem;*/
    /*object-fit: contain;*/
    height: 23rem;
    object-fit: contain;
}


.card-body {
    padding: 1rem;
    color:white;

}

.container-wrapper {
    overflow-x: scroll;

}

.container1 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.container2 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.container3 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.container4 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}
img.d-block.w-100 {
    height: 65vh;
    background-position: center;
    opacity: 90%;
}
body{
    background-image: url("/img/mybt.gif");
    background-size: contain;
}

.card-text {
    flex:1 0 0;
    color:white;
}

.card-body {
    display:flex;
    flex-direction: column;
}
h1{
    color: white;
    font-family: "movie poster personal use";
    margin-left: 1rem;
}
input#search {
    position: relative;
    z-index: 9;
    width: 77%;
    align-items: center;
}
.navbar.mt-3.mb-3{
    background-color: rgba(0, 0, 0, 0.33);
    font-family: "movie poster personal use";
    font-size: x-large;
    color:white;
}
.navbar-title{
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
.container.navbar {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    /* Add other styling as needed */
}
.carousel-item {
    position: relative;
}

.watchTrailerButton {
    position: absolute;
    bottom: 10px; /* Adjust this value to position the button as desired */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%);
    z-index: 1;
}
.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
    scale: 0.92;
}

.btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}