.card {
    width: 16rem;
    margin: 0.5rem;
    background-color: rgba(128, 128, 128, 0.24);
    text-align: center;
}

.card-img-top {
    /*height: 15rem;*/
    /*object-fit: contain;*/
    height: 23rem;
    object-fit: contain;
}


.card-body {
    padding: 1rem;
}

.container-wrapper {
    overflow-x: scroll;

}

.container1 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.container2 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.container3 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}

.container4 {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
}


